# Node's Dependencies
node_modules

# User's self uploading cover
src/assets/selfupload

# Server's custom welcomer bg
src/assets/customWelcomer

# Server's custom shop banner
src/assets/customShop

# Server Logs
logs

# Sensitive login information
.env

# Database dir
.data

# Cache directory for Pixiv API
.pixivcaches

# ide specific folder
.idea

# VIM files
*.swp

*.DS_Store