# Node's Dependencies
node_modules

# User's self uploading cover
src/assets/selfupload

# Server's custom welcomer bg
src/assets/customWelcomer

# Server's custom shop banner
src/assets/customShop

# Server Logs
logs

# Sensitive login information
.env

# Cache directory for Pixiv API
.pixivcaches

# ide specific folder
.idea

# VIM files
*.swp
.launch.sh
.update-launch.sh

# MacOS development
*.DS_Store

# Visual Studio Code configuration folder
.vscode

# pm2 module
.pm2

# Logs
.logs
/docs/jsdoc
jsdoc.json
jsconfig.json

# LLM configuration
.cursorrules

# Jest configuration
coverage